:root{
  --pieceWidth:60px
}
@font-face{
  font-family: game-font;
  src:url('./assets/font/Pony.ttf')
}

.app{
 background-image: url('./assets/img/sky.png');
 background-size: cover;
 display: flex;
 justify-content: center;
 align-items: center;
 min-height: 100vh;
 color: rgb(6, 2, 20);

}